/*
  CSS file for books.html
*/
body{
	background-color: Chartreuse;
}
h1, .book{
	background-color: white;
	border: 4px solid orange;
}
h1{
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	color: orange;
	max-width: 76.5%;
	margin-left: 12%;
	border-width: 6px;
}
.author{
	font-style: italic;
	color: orange;
}
.publisher{
	margin-bottom: .5em;
	font-variant: small-caps;
}
.date, .isbn{
	font-size: .80em;
}
a:link{
	font-weight: bold;
	color: blue;
	text-decoration: none;
}
a:visited{
	color:purple;
}
a:hover{
	text-decoration: underline;
	color: CornflowerBlue;
}
a:active{
	font-weight: bold;
	color: red;
}
.bookcover{
	float: right;
	border: 2px solid orange;
	padding: .25em;
}
.book{
	overflow: auto;
	clear: right;
	max-width: 80%;
	margin-left: 8%;
	padding: .5em;
	margin-bottom: 1em;
}